.registerWrapper {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 1px 1px 25px #e2e2e2;
  padding: 1.5em;
}

.registerWrapper h3 {
  padding-bottom: 0.8em;
  font-size: 1.5em;
  color: #1f3d71;
}
