.user {
  width: 33%;
}

.user label {
  display: none;
}

.white::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}

.white::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}

.white:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}

.white:-moz-placeholder { /* Firefox 18- */
  color: pink;
}
