body {
  background: #f8f9fe;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.2;
  color:#212428;
}

.form-control {
  border-radius: 20px;
  border: 1px solid #58595b;
}

.header-wrapper {
  padding: 2em;
  background: #4064a8;
}

.main-content-wrapper {
  padding: 3em 0 5em;;
}

.btn.btn-secondary {
  border: 1px solid #ffffff;
}

/* .input {
  padding: 0.9em 1.3em;
  margin: 0.5em;
  border-radius: 20px;
  border: 1px solid #58595b;
}

.input.btn {
  padding: 0.9em 1.3em;
  margin: 0.5em;
  border-radius: 20px;
  background: #4064a8;
  color: #ffffff;
}

.register {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #f1f2f8;
  padding: 2em;
}

.grid-container {
  margin-top: 2em;
  padding: 2em;
}

.btn.white {
  border: 1px solid #ffffff;
  letter-spacing: 1px;
}

.btn.blue {
  border: 1px solid #4064a8;
  letter-spacing: 1px;
}

.btn.white:hover {
  cursor: pointer;
  background: #355592;
  transition: 0.4s all linear;
} */
